<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Playground</title>
    <style>
        header {
    width: 40em;
    margin: auto;
} 
h1 {
    text-align: center;
}
main{
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.box {
    background-color: rgb(12, 96, 205);
    border: 2px solid  black;
    width: 6em;
    height: 6em;
} 
    </style>
</head>
<body>
    <header>
        <h1>Welcome!</h1>
        <main>
            <div class="box"></div>
            <div class="box"></div>
            <div class="box"></div>
        </main>
    </header>
</body>
</html>