<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script type="text/javascript" src="{{ url_for('static', filename='js/my_script.js') }}"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Hello world!</title>
   
</head>
<body>
    <h1>Hamada Raed</h1>
    <h1>Hello World!</h1>
    <img src="{{ url_for('static', filename='imgs/landscape-nature-view-background-view-window-landscape-nature-view-background-view-window-wonderful-landscape-121459679.jpeg') }}">
</body>
</html>