/* *{
    border: 1px solid red;
} */
.continer{
    display: flex;
    border: 2px solid black;
    margin: 10% auto;
    width: 90%;
}
.left{
    width: 60%;
    border: 2px solid black;
    padding: 1em;
    margin: 2em;
}
.right {
    border: 2px solid black;
    background-color: rgba(16, 209, 116, 0.53);
    width: 30%;
    padding: 1em;
    margin: 2em;
} 
