<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show page </title>
</head>

<body>
    <h1>Submitted info</h1>
    <p>Name: {{name_on_template}}</p>
    <p>Dojo Location: {{location_on_template}}</p>
    <p>Favotire Language: {{fav_lang_on_form}}</p>
    <p>Comment: {{comment_on_form}}</p>
    <a href="/"><button type="button" class="btn btn-primary">go back</button></a>
</body>

</html>